.site-banner{
    position: relative;
    img{
        width: 100%;
        height: auto;
    }
    .site-social{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 120px;
        width: 100%;
        max-width: $row-width;
        margin: 0 auto;
        .social-navigation{
            padding: 0 15px;
            width: 100%;
            box-sizing: border-box;
            ul{
                width: 100%;
                max-width: 325px;
                margin: 0 auto 0 0;
                @include flex(row,wrap,space-between,center);
            }
        }
    }
}