.site-footer{
    background: url(../../uploads/2020/04/footer-background.jpg);
    background-size: cover;
    padding: 20px 0;
    &__top{
        padding: 50px 0;
        .container-1{
            justify-content: space-between;
        }
    }
    &__contact{
        padding: 0!important;
        div{
            margin: 20px 0 0;
        }
        .phone{
            font-size: 30px;
            font-weight: 800;
            line-height: 1;
            color: #FFF;
            display: block;
            margin-top: 20px;
        }
        .email{
            font-size: 20px;
            font-weight: 800;
            display: block;
            color: #FFF;
            margin-top: 23px;
            line-height: 20px;
        }
        .address{
            font-size: 20px;
            font-weight: 800;
            display: block;
            color: #FFF;
            margin-top: 23px;
            line-height: 20px
        }
    }
    &__social{
        margin: 20px 0 0;
        .social-navigation {
            width: 100%;
            box-sizing: border-box;
            margin: 20px 0 0;
            ul {
                width: 100%;
                @include flex(row, wrap, space-between, center);
            }
        }
    }
    &__bottom{
        border-top: 1px solid rgba(255,255,255,0.6);
        padding: 50px 0 20px;
    }
    &__info{
        max-width: 425px;
        margin: 0 auto;
        p{
            @include font($font2,700,14px,normal,normal,120%,#FFFFFF);
        }
    }
}

.silver{
    img{
        max-width: 50px ;
        display: inline-block;
        vertical-align: middle;
    }
}