.contact{
    background: url(../../uploads/2020/04/contact-background.jpg);
    background-size: cover;
    padding: 85px 15px 95px!important;
    p{
        max-width: 705px;
        margin: 30px auto;
    }
}
.wpcf7-form{
    max-width: 1365px;
    margin: 0 auto;
    .ctc-hide{display: none;}
    .form-top{
        @include flex(row,wrap,space-between,stretch);
        label{
            width: 32.5%;
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="url"]{
        margin: 5px 0;
        width: 100%;
        height: 45px;
        box-sizing: border-box;
        border-radius: 0px;
        background: none;
        border: 1px solid #A0A0A0;
        padding: 10px 20px;
        @include font($font2, 400, 15px, normal, normal, normal, #FFFFFF );
        &::placeholder{
            @include font($font2, 400, 15px, normal, normal, normal, #FFFFFF);
        }
    }
    textarea {
        margin: 5px 0;
        width: 100%;
        height: 202px;
        resize: none;
        box-sizing: border-box;
        border-radius: 0;
        background: none;
        border: 1px solid #A0A0A0;
        padding: 10px 20px;
        @include font($font2, 400, 15px, normal, normal, normal, #FFFFFF);
        &::placeholder{
            @include font($font2, 400, 15px, normal, normal, normal, #FFFFFF);
        }
    }
    .consent, .privacy{
        display: block;
        text-align: center;
        margin: 10px 0;
        .wpcf7-list-item-label {
            @include font($font2, 400, 15px, normal, normal, normal, #FFFFFF);
        }
    }
    .btn{
        text-align: center;
        margin: 0 auto;
    }
}