.site-header{
    position: relative;
    z-index: 999;
    &__logo{
        position: relative;
        width: 100%;
        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            max-width: 447px;
            width: 100%;
        }
    }
    &__nav{
        width: 100%;
        max-width: 847px;
        margin: 0 0 0 auto;
    }
}