/*Main Menu*/

.main-navigation {
    width: 100%;
    ul {
        @include flex(row, wrap, space-between, center); 
        padding: 0;
        margin: 0;
        width: 100%;
        li {
            display: inline-block;

            &.menu-item-has-children a {
                &::after {
                    content: "\f0d7";
                    font-family: 'FontAwesome';
                    color: #545454;
                    transition: all .2s linear;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 18px;
                    margin-left: 10px;
                    position: relative;
                    top: -2px;
                }

                &:hover::after {
                    transform: rotateZ(180deg);
                }
            }

            a {
                display: block;
                position: relative;
                padding: 40px 25px;
                @include font($font2, 400, 14px, normal, 1px, 120%, #545454);
                text-transform: uppercase;
                transition: all 0.5s ease;
            }
        }
    }

    ul li a:hover,
    .current-menu-item a,
    .current_page_item a {
        background: $primary-color;
        color: $white-color;
    }
    ul li.menu-item-has-children a:hover::after,
    .current_page_item.menu-item-has-children a::after{
        color: $white-color;
    }
    ul {
        li:hover ul {
            visibility: visible;
            opacity: 1;
            margin-top: 0;
        }

        ul {
            background: $sub-menu-background;
            transition: all .3s linear;
            box-shadow: 0px 0px 2px #555;
            position: absolute;
            visibility: hidden;
            margin-top: 50px;
            width: 250px;
            display: block;
            opacity: 0;
            padding: 0;

            li {
                display: block;
                margin-right: 0;
                position: relative;

                a {
                    padding: 10px 15px;
                    box-sizing: border-box;
                    display: block;
                    box-sizing: border-box;
                    color: #FFFFFF;

                    &::after,
                    &::before {
                        display: none !important;
                    }

                    &:hover {
                        background: $sub-menu-hover-background;
                    }
                }
            }
        }
    }
}

/*Sub Menu*/

/*Sub Sub Menu*/

.main-navigation ul ul ul {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateY(100%);
}

.main-navigation ul ul li:hover ul {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0);
}

.main-navigation ul ul ul li {}

/*secondary menu*/
.secondary-navigation {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @include flex(row, wrap, center, center); 
        li {
            display: inline-block;
            border-right: 1px solid #000;
            &.menu-item-has-children a {
                &::after {
                    content: "\f0d7";
                    font-family: 'FontAwesome';
                    color: #FFF;
                    transition: all .2s linear;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 18px;
                    margin-left: 10px;
                    position: relative;
                    top: -2px;
                }

                &:hover::after {
                    transform: rotateZ(180deg);
                }
            }
            &:last-of-type{
                border-right: 0;
            }
            a {
                display: block;
                position: relative;
                padding: 20px 15px;
                @include font($font1, 400, 16px, normal, normal, normal, #FFFFFF);
                transition: all 0.5s ease;
            }
        }
    }

    ul li a:hover,
    .current-menu-item a,
    .current_page_item a {
        color: #DDDDDD;
        text-shadow: 0px 0px 20px #ddd;
    }

    ul {
        li:hover ul {
            visibility: visible;
            opacity: 1;
            margin-top: 0;
        }

        ul {
            background: $sub-menu-background;
            transition: all .3s linear;
            box-shadow: 0px 0px 2px #555;
            position: absolute;
            visibility: hidden;
            margin-top: 50px;
            width: 250px;
            display: block;
            opacity: 0;
            padding: 0;

            li {
                display: block;
                margin-right: 0;
                position: relative;

                a {
                    padding: 10px 15px;
                    box-sizing: border-box;
                    display: block;
                    box-sizing: border-box;
                    color: #FFFFFF;

                    &::after,
                    &::before {
                        display: none !important;
                    }

                    &:hover {
                        background: $sub-menu-hover-background;
                    }
                }
            }
        }
    }
}

/*Sub Menu*/

/*Sub Sub Menu*/

.secondary-navigation ul ul ul {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateY(100%);
}

.secondary-navigation ul ul li:hover ul {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0);
}

.secondary-navigation ul ul ul li {}

/*Footer Menu*/

.footer-navigation {
    ul {
        @include flex(row, wrap, space-between, center);
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            a {
                display: block;
                position: relative;
                padding: 20px 10px;
                @include font($font2, 700, 14px, normal, normal, normal, $white-color);
                text-transform: uppercase;
                transition: all 0.5s ease;
            }
        }
    }

    ul li a:hover,
    .current-menu-item a,
    .current_page_item a {
        text-shadow: 0px 0px 20px #000;
    }
}

/*Social Menu*/

.social-navigation {
    .svg-icon {
        display: none;
    }

    ul {
        margin: 0 !important;
        list-style: none;
        display: block;
        padding: 0;

        li {

            a {
                color: #FFF;
                position: relative;
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #fff;
                &::before {
                    position: absolute;
                    top: 5px;    
                    left: 0px;
                    transition: all .4s linear;
                    color: #000;
                }

                &:hover {
                    border-radius: 0;
                    transform: rotateZ(360deg);
                }
            }
        }
    }
}