[class*=col-] {
  position: relative;
  box-sizing: border-box;
  padding: 0 15px;
}

.col-xl-1,
.col-lg-1,
.col-md-1,
.col-sm-1,
.col-xs-1 {
  width: 8.33% !important;
  flex-basis: 8.33% !important;
}

.col-xl-2,
.col-lg-2,
.col-md-2,
.col-sm-2,
.col-xs-2 {
  width: 16.66% !important;
  flex-basis: 16.66% !important;
}

.col-xl-3,
.col-lg-3,
.col-md-3,
.col-sm-3,
.col-xs-3 {
  width: 25% !important;
  flex-basis: 25% !important;
}

.col-xl-4,
.col-lg-4,
.col-md-4,
.col-sm-4,
.col-xs-4 {
  width: 33.33% !important;
  flex-basis: 33.33% !important;
}

.col-xl-5,
.col-lg-5,
.col-md-5,
.col-sm-5,
.col-xs-5 {
  width: 41.66% !important;
  flex-basis: 41.66% !important;
}

.col-xl-6,
.col-lg-6,
.col-md-6,
.col-sm-6,
.col-xs-6 {
  width: 50% !important;
  flex-basis: 50% !important;
}

.col-xl-7,
.col-lg-7,
.col-md-7,
.col-sm-7,
.col-xs-7 {
  width: 58.33% !important;
  flex-basis: 58.33% !important;
}

.col-xl-8,
.col-lg-8,
.col-md-8,
.col-sm-8,
.col-xs-8 {
  width: 66.66% !important;
  flex-basis: 66.66% !important;
}

.col-xl-9,
.col-lg-9,
.col-md-9,
.col-sm-9,
.col-xs-9 {
  width: 75% !important;
  flex-basis: 75% !important;
}

.col-xl-10,
.col-lg-10,
.col-md-10,
.col-sm-10,
.col-xs-10 {
  width: 83.33% !important;
  flex-basis: 83.33% !important;
}

.col-xl-11,
.col-lg-11,
.col-md-11,
.col-sm-11,
.col-xs-11 {
  width: 91.66% !important;
  flex-basis: 91.66% !important;
}

.col-xl-12,
.col-lg-12,
.col-md-12,
.col-sm-12,
.col-xs-12 {
  width: 100% !important;
  flex-basis: 100% !important;
}

@media screen and (max-width: 1024px) {
  [class*=col-xl] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  .col-xl-1 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-xl-2 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-xl-3 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-lg-1 {
    width: 16.66% !important;
    flex-basis: 16.66% !important;
  }

  .col-lg-2 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-lg-3 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-lg-4 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-lg-5 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-lg-6 {
    width: 58.33% !important;
    flex-basis: 58.33% !important;
  }

  .col-lg-7 {
    width: 66.66% !important;
    flex-basis: 66.66% !important;
  }

  .col-lg-8 {
    width: 75% !important;
    flex-basis: 75% !important;
  }

  .col-lg-9 {
    width: 83.33% !important;
    flex-basis: 83.33% !important;
  }

  .col-lg-10 {
    width: 91.66% !important;
    flex-basis: 91.66% !important;
  }

  .col-lg-11 {
    width: 100% !important;
    flex-basis: 100% !important;
  }
}
@media screen and (max-width: 960px) {
  [class*=col-xl] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-lg] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  .col-lg-1 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-lg-2 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-lg-3 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-lg-4 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-md-1 {
    width: 16.66% !important;
    flex-basis: 16.66% !important;
  }

  .col-md-2 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-md-3 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-md-4 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-md-5 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-md-6 {
    width: 58.33% !important;
    flex-basis: 58.33% !important;
  }

  .col-md-7 {
    width: 66.66% !important;
    flex-basis: 66.66% !important;
  }

  .col-md-8 {
    width: 75% !important;
    flex-basis: 75% !important;
  }

  .col-md-9 {
    width: 83.33% !important;
    flex-basis: 83.33% !important;
  }

  .col-md-10 {
    width: 91.66% !important;
    flex-basis: 91.66% !important;
  }

  .col-md-11 {
    width: 100% !important;
    flex-basis: 100% !important;
  }
}
@media screen and (max-width: 800px) {
  [class*=col-xl] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-lg] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-md] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  .col-md-1 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-md-2 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-md-3 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-md-4 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-sm-1 {
    width: 16.66% !important;
    flex-basis: 16.66% !important;
  }

  .col-sm-2 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-sm-3 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-sm-4 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-sm-5 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-sm-6 {
    width: 58.33% !important;
    flex-basis: 58.33% !important;
  }

  .col-sm-7 {
    width: 66.66% !important;
    flex-basis: 66.66% !important;
  }

  .col-sm-8 {
    width: 75% !important;
    flex-basis: 75% !important;
  }

  .col-sm-9 {
    width: 83.33% !important;
    flex-basis: 83.33% !important;
  }

  .col-sm-10 {
    width: 91.66% !important;
    flex-basis: 91.66% !important;
  }

  .col-sm-11 {
    width: 100% !important;
    flex-basis: 100% !important;
  }
}
@media screen and (max-width: 620px) {
  [class*=col-xl] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-lg] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-md] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-sm] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  .col-sm-1 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-sm-2 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-sm-3 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-sm-4 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-xs-1 {
    width: 16.66% !important;
    flex-basis: 16.66% !important;
  }

  .col-xs-2 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-xs-3 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-xs-4 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-xs-5 {
    width: 50% !important;
    flex-basis: 50% !important;
  }

  .col-xs-6 {
    width: 58.33% !important;
    flex-basis: 58.33% !important;
  }

  .col-xs-7 {
    width: 66.66% !important;
    flex-basis: 66.66% !important;
  }

  .col-xs-8 {
    width: 75% !important;
    flex-basis: 75% !important;
  }

  .col-xs-9 {
    width: 83.33% !important;
    flex-basis: 83.33% !important;
  }

  .col-xs-10 {
    width: 91.66% !important;
    flex-basis: 91.66% !important;
  }

  .col-xs-11 {
    width: 100% !important;
    flex-basis: 100% !important;
  }
}
@media screen and (max-width: 520px) {
  [class*=col-xl] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-lg] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-md] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-sm] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-xs] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  .col-xs-1 {
    width: 25% !important;
    flex-basis: 25% !important;
  }

  .col-xs-2 {
    width: 33.33% !important;
    flex-basis: 33.33% !important;
  }

  .col-xs-3 {
    width: 41.66% !important;
    flex-basis: 41.66% !important;
  }

  .col-xs-4 {
    width: 50% !important;
    flex-basis: 50% !important;
  }
}
@media screen and (max-width: 480px) {
  [class*=col-xl] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-lg] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-md] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-sm] {
    width: 100% !important;
    flex-basis: 100% !important;
  }

  [class*=col-xs] {
    width: 100% !important;
    flex-basis: 100% !important;
  }
}