@charset "UTF-8";
/*
Theme Name: NH Roof Cleaning
Theme URI: 
Author: the Development team
Author URI: https://wordpress.org/
Description: A theme for WordPress 5.
Requires at least: WordPress 4.9.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: nhroofcleaning
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Richard Hackerman is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { font-family: "Montserrat", sans-serif; margin: 0 auto; width: 100%; max-width: 100%; min-width: 1200px; }

/*###################################
## colors
###################################*/
.has-primary-color { color: #00A045; }

.has-secondary-color { color: #18469D; }

.has-dark-gray-color { color: #111111; }

.has-light-gray-color { color: #767676; }

.has-white-color { color: #FFFFFF; }

.has-primary-background-color { background-color: #00A045; }

.has-secondary-background-color { background-color: #18469D; }

.has-dark-gray-background-color { background-color: #111111; }

.has-light-gray-background-color { background-color: #767676; }

.has-white-background-color { background-color: #FFFFFF; }

/*###################################
## Layouts
###################################*/
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; word-wrap: normal !important; overflow: hidden; height: 1px; margin: -1px; padding: 0; width: 1px; border: 0; }

.wp-block-columns { margin-bottom: 0 !important; flex-wrap: wrap; }

.no-padding { padding: 0 !important; }

.wp-block-column, .blocks-gallery-item { margin: 0 !important; }

.no-margin-image figure { margin: 0; }

.stretch { align-items: stretch; }

.center { align-items: center; }

.full-image figure { height: 100%; }

.full-image img { width: 100%; height: 100%; object-fit: cover; }

.has-1-columns .wp-block-column { flex-basis: 100%; }

.container { width: 100%; display: flex !important; flex-flow: row wrap; justify-content: space-around; align-items: flex-start; }

.row { max-width: 1630px; margin: 0 auto; }

.cta { display: none; }

.grecaptcha-badge { z-index: 999999; }

/*###################################
## Fonts
###################################*/
a { text-decoration: none; transition: all .5s ease; color: inherit; }

a:visited { text-decoration: none; transition: all .5s ease; color: #555; }

a:hover { text-shadow: 0px 0px 5px #000; }

a:focus { outline: none !important; }

h1, h2, h3, h4, h5, h6 { margin: 0 auto; }

h1 { font-family: "Montserrat", sans-serif; font-weight: 800; font-size: 50px; font-style: normal; letter-spacing: normal; line-height: 100%; color: #00A045; text-transform: initial; }

h1 strong { color: #18469D; font-weight: 800; }

h2 { font-family: "Montserrat", sans-serif; font-weight: 800; font-size: 50px; font-style: normal; letter-spacing: normal; line-height: 100%; color: #18469D; text-transform: initial; }

h3 { font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 40px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #00A045; text-transform: initial; }

h4 { font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 30px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #00A045; text-transform: initial; }

h5 { font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 15px; font-style: normal; letter-spacing: 6px; line-height: 100%; color: #00A045; text-transform: uppercase; }

h6 { font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 13px; font-style: normal; letter-spacing: 3px; line-height: 100%; color: #00A045; text-transform: uppercase; }

p, ul, ol { margin: 1em 0; font-family: "Open Sans", sans-serif; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 1px; line-height: 200%; color: #525252; }

/*###################################
## Buttons
###################################*/
.btn { width: 100%; max-width: 200px; }

.btn a, .btn input { position: relative; font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 13px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #FFFFFF; width: 100%; padding: 20px 10px; z-index: 1; box-sizing: border-box; }

.btn a:hover, .btn input:hover { background: #18469D; }

.btn-primary a, .btn-primary input { text-align: center; display: inline-block; border: 0; border: 1px solid transparent; background: #00A045; transition: all 0.5s ease; }

.btn-primary a:hover, .btn-primary input:hover { border: 1px solid #00A045; text-shadow: 0px 2px 3px #000; color: #ddd; background-color: #18469D; }

.btn-secondary a, .btn-secondary input { border: 0; border: 1px solid transparent; border-radius: 5px; background: linear-gradient(#770004, #4E0001); transition: all 0.5s ease; }

.btn-secondary a:hover, .btn-secondary input:hover { border: 1px solid #18469D; text-shadow: 0px 2px 3px #000; color: #ddd; background-color: #00A045; }

/*###################################
## Search
###################################*/
.sidebar form, .error-404 form { position: relative; max-width: 700px; margin: 10px auto; }

.sidebar input[type="search"], .error-404 input[type="search"] { width: 100%; padding: 5px 10px; }

.sidebar input[type="submit"], .error-404 input[type="submit"] { background: linear-gradient(to bottom, #FFF, #ccc); border: 1px solid #000; position: absolute; padding: 6px; right: 0; top: 0; }

.sidebar .widget:not(:nth-of-type(1)) { background: rgba(255, 255, 255, 0.5); border-bottom: 1px solid #CCC; padding-bottom: 20px; margin-bottom: 20px; padding: 10px 20px; }

.sidebar input[type="submit"] { transition: all .4s linear; }

.error-404 input[type="submit"] { transition: all .4s linear; }

.sidebar input[type="submit"]:hover, .error-404 input[type="submit"]:hover { box-shadow: 0px 0px 20px #000; }

/*###################################
## Forms
###################################*/
.contact { background: url(../../uploads/2020/04/contact-background.jpg); background-size: cover; padding: 85px 15px 95px !important; }

.contact p { max-width: 705px; margin: 30px auto; }

.wpcf7-form { max-width: 1365px; margin: 0 auto; }

.wpcf7-form .ctc-hide { display: none; }

.wpcf7-form .form-top { display: flex !important; flex-flow: row wrap; justify-content: space-between; align-items: stretch; }

.wpcf7-form .form-top label { width: 32.5%; }

.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], .wpcf7-form input[type="tel"], .wpcf7-form input[type="url"] { margin: 5px 0; width: 100%; height: 45px; box-sizing: border-box; border-radius: 0px; background: none; border: 1px solid #A0A0A0; padding: 10px 20px; font-family: "Open Sans", sans-serif; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

.wpcf7-form input[type="text"]::placeholder, .wpcf7-form input[type="email"]::placeholder, .wpcf7-form input[type="tel"]::placeholder, .wpcf7-form input[type="url"]::placeholder { font-family: "Open Sans", sans-serif; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

.wpcf7-form textarea { margin: 5px 0; width: 100%; height: 202px; resize: none; box-sizing: border-box; border-radius: 0; background: none; border: 1px solid #A0A0A0; padding: 10px 20px; font-family: "Open Sans", sans-serif; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

.wpcf7-form textarea::placeholder { font-family: "Open Sans", sans-serif; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

.wpcf7-form .consent, .wpcf7-form .privacy { display: block; text-align: center; margin: 10px 0; }

.wpcf7-form .consent .wpcf7-list-item-label, .wpcf7-form .privacy .wpcf7-list-item-label { font-family: "Open Sans", sans-serif; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

.wpcf7-form .btn { text-align: center; margin: 0 auto; }

/*###################################
## Menus
###################################*/
/*Main Menu*/
.main-navigation { width: 100%; }

.main-navigation ul { display: flex !important; flex-flow: row wrap; justify-content: space-between; align-items: center; padding: 0; margin: 0; width: 100%; }

.main-navigation ul li { display: inline-block; }

.main-navigation ul li.menu-item-has-children a::after { content: "\f0d7"; font-family: 'FontAwesome'; color: #545454; transition: all .2s linear; display: inline-block; vertical-align: middle; font-size: 18px; margin-left: 10px; position: relative; top: -2px; }

.main-navigation ul li.menu-item-has-children a:hover::after { transform: rotateZ(180deg); }

.main-navigation ul li a { display: block; position: relative; padding: 40px 25px; font-family: "Open Sans", sans-serif; font-weight: 400; font-size: 14px; font-style: normal; letter-spacing: 1px; line-height: 120%; color: #545454; text-transform: uppercase; transition: all 0.5s ease; }

.main-navigation ul li a:hover, .main-navigation .current-menu-item a, .main-navigation .current_page_item a { background: #00A045; color: #FFFFFF; }

.main-navigation ul li.menu-item-has-children a:hover::after, .main-navigation .current_page_item.menu-item-has-children a::after { color: #FFFFFF; }

.main-navigation ul li:hover ul { visibility: visible; opacity: 1; margin-top: 0; }

.main-navigation ul ul { background: #00A045; transition: all .3s linear; box-shadow: 0px 0px 2px #555; position: absolute; visibility: hidden; margin-top: 50px; width: 250px; display: block; opacity: 0; padding: 0; }

.main-navigation ul ul li { display: block; margin-right: 0; position: relative; }

.main-navigation ul ul li a { padding: 10px 15px; box-sizing: border-box; display: block; box-sizing: border-box; color: #FFFFFF; }

.main-navigation ul ul li a::after, .main-navigation ul ul li a::before { display: none !important; }

.main-navigation ul ul li a:hover { background: #00A045; }

/*Sub Menu*/
/*Sub Sub Menu*/
.main-navigation ul ul ul { visibility: hidden !important; opacity: 0 !important; transition: all 0.5s ease; position: absolute; top: 0; left: 100%; transform: translateY(100%); }

.main-navigation ul ul li:hover ul { visibility: visible !important; opacity: 1 !important; transform: translateY(0); }

/*secondary menu*/
.secondary-navigation ul { list-style: none; padding: 0; margin: 0; display: flex !important; flex-flow: row wrap; justify-content: center; align-items: center; }

.secondary-navigation ul li { display: inline-block; border-right: 1px solid #000; }

.secondary-navigation ul li.menu-item-has-children a::after { content: "\f0d7"; font-family: 'FontAwesome'; color: #FFF; transition: all .2s linear; display: inline-block; vertical-align: middle; font-size: 18px; margin-left: 10px; position: relative; top: -2px; }

.secondary-navigation ul li.menu-item-has-children a:hover::after { transform: rotateZ(180deg); }

.secondary-navigation ul li:last-of-type { border-right: 0; }

.secondary-navigation ul li a { display: block; position: relative; padding: 20px 15px; font-family: "Montserrat", sans-serif; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; transition: all 0.5s ease; }

.secondary-navigation ul li a:hover, .secondary-navigation .current-menu-item a, .secondary-navigation .current_page_item a { color: #DDDDDD; text-shadow: 0px 0px 20px #ddd; }

.secondary-navigation ul li:hover ul { visibility: visible; opacity: 1; margin-top: 0; }

.secondary-navigation ul ul { background: #00A045; transition: all .3s linear; box-shadow: 0px 0px 2px #555; position: absolute; visibility: hidden; margin-top: 50px; width: 250px; display: block; opacity: 0; padding: 0; }

.secondary-navigation ul ul li { display: block; margin-right: 0; position: relative; }

.secondary-navigation ul ul li a { padding: 10px 15px; box-sizing: border-box; display: block; box-sizing: border-box; color: #FFFFFF; }

.secondary-navigation ul ul li a::after, .secondary-navigation ul ul li a::before { display: none !important; }

.secondary-navigation ul ul li a:hover { background: #00A045; }

/*Sub Menu*/
/*Sub Sub Menu*/
.secondary-navigation ul ul ul { visibility: hidden !important; opacity: 0 !important; transition: all 0.5s ease; position: absolute; top: 0; left: 100%; transform: translateY(100%); }

.secondary-navigation ul ul li:hover ul { visibility: visible !important; opacity: 1 !important; transform: translateY(0); }

/*Footer Menu*/
.footer-navigation ul { display: flex !important; flex-flow: row wrap; justify-content: space-between; align-items: center; padding: 0; margin: 0; }

.footer-navigation ul li { display: inline-block; }

.footer-navigation ul li a { display: block; position: relative; padding: 20px 10px; font-family: "Open Sans", sans-serif; font-weight: 700; font-size: 14px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; text-transform: uppercase; transition: all 0.5s ease; }

.footer-navigation ul li a:hover, .footer-navigation .current-menu-item a, .footer-navigation .current_page_item a { text-shadow: 0px 0px 20px #000; }

/*Social Menu*/
.social-navigation .svg-icon { display: none; }

.social-navigation ul { margin: 0 !important; list-style: none; display: block; padding: 0; }

.social-navigation ul li a { color: #FFF; position: relative; display: block; width: 30px; height: 30px; border-radius: 50%; background: #fff; }

.social-navigation ul li a::before { position: absolute; top: 5px; left: 0px; transition: all .4s linear; color: #000; }

.social-navigation ul li a:hover { border-radius: 0; transform: rotateZ(360deg); }

/*###################################
## Header
###################################*/
.site-header { position: relative; z-index: 999; }

.site-header__logo { position: relative; width: 100%; }

.site-header__logo img { position: absolute; top: 0; left: 0; right: 0; max-width: 447px; width: 100%; }

.site-header__nav { width: 100%; max-width: 847px; margin: 0 0 0 auto; }

/*###################################
## Banner
###################################*/
.site-banner { position: relative; }

.site-banner img { width: 100%; height: auto; }

.site-banner .site-social { position: absolute; left: 0; right: 0; bottom: 120px; width: 100%; max-width: 1630px; margin: 0 auto; }

.site-banner .site-social .social-navigation { padding: 0 15px; width: 100%; box-sizing: border-box; }

.site-banner .site-social .social-navigation ul { width: 100%; max-width: 325px; margin: 0 auto 0 0; display: flex !important; flex-flow: row wrap; justify-content: space-between; align-items: center; }

/*###################################
## Content
###################################*/
/*-----------------------------------------------------------------------------------
Welcome------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/
.welcome__header { padding: 6.5104166667% 0 0 8.59375% !important; }

.welcome__header h5 { margin: 0 0 30px; }

.welcome__header .line-wide { margin: 52.5px 0 52.5px -120px; width: 123%; }

.welcome__middle { margin: 9.375% 0 9.375% !important; }

.welcome__middle p { max-width: 412px; margin: 1em auto; }

/*-----------------------------------------------------------------------------------
Why----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/
.why { padding: 90px 15px !important; }

.why h5 { margin: 0 0 10px; }

.why p { max-width: 910px; margin: 30px auto; }

.services__left figcaption { padding: 50px 10px 50px 30px !important; box-sizing: border-box; font-family: "Montserrat", sans-serif; color: #FFF !important; font-size: 20px !important; font-weight: 800 !important; text-align: left !important; }

.services__left .blocks-gallery-item img { height: 329px !important; }

.services__right { position: relative; padding: 7.2916666667% 8.3333333333% 4.1666666667% 5.46875% !important; }

.services__right h5 { margin: 0 0 20px; }

.services__right p { margin: 40px auto; }

.services__right::after { content: ""; border: 1px solid #D6D6D6; position: absolute; bottom: 80px; right: 0; width: 82%; }

.selling__left { padding: 6.5104166667% 4.6875% 5.46875% 8.59375% !important; }

.selling__left .wp-block-separator.is-style-wide { margin: 40px auto; }

.selling__left .phone { font-size: 30px; font-weight: 800; line-height: 1.1; color: #002633; }

.gallery__left { padding: 0 0 0 8.59375% !important; }

.gallery__left .blocks-gallery-item { margin: 2px !important; }

.gallery__left .blocks-gallery-item img { height: 374px !important; }

.gallery__left .social-navigation ul li a { margin: 40px 0; background: #002633; }

.gallery__left .social-navigation ul li a::before { left: -1px; color: #FFFFFF; }

.gallery__left .social-navigation ul li a:hover { background: #18469D; }

.gallery__right { position: relative; padding: 7.2916666667% 8.3333333333% 8.3333333333% 5.46875% !important; }

.gallery__right h5 { margin: 0 0 20px; }

.gallery__right p { margin: 40px auto; }

.gallery__right::after { content: ""; border: 1px solid #D6D6D6; position: absolute; bottom: 25.2365930599%; right: 0; width: 82%; }

.roofing__left { padding: 0 !important; }

.roofing__left--top { padding: 8.59375% 3.3854166667% 0 8.59375%; box-sizing: border-box; }

.roofing__left--top ul { list-style: none; columns: 2; column-gap: 40px; }

.roofing__left--top ul li::before { content: "•"; color: #D61B2B; position: relative; left: -20px; }

.roofing__left--bottom { padding: 0 0 0 9.6354166667%; justify-content: flex-start; box-sizing: border-box; }

.roofing__left .wp-block-separator.is-style-wide { margin: 40px 0 20px; max-width: 1198px; }

.badges { padding: 50px 0; max-width: 1024px; margin: 0 auto; }

.badges .blocks-gallery-grid, .badges .wp-block-gallery { justify-content: space-around; width: 100%; }

.badges .blocks-gallery-grid li, .badges .wp-block-gallery li { max-width: 106px; }

.embedded__right { text-align: center; }

.embedded__right a { margin: 0 auto; }

.embedded__right .gq-embed { width: 100% !important; }

/*###################################
## Footer
###################################*/
.site-footer { background: url(../../uploads/2020/04/footer-background.jpg); background-size: cover; padding: 20px 0; }

.site-footer__top { padding: 50px 0; }

.site-footer__top .container-1 { justify-content: space-between; }

.site-footer__contact { padding: 0 !important; }

.site-footer__contact div { margin: 20px 0 0; }

.site-footer__contact .phone { font-size: 30px; font-weight: 800; line-height: 1; color: #FFF; display: block; margin-top: 20px; }

.site-footer__contact .email { font-size: 20px; font-weight: 800; display: block; color: #FFF; margin-top: 23px; line-height: 20px; }

.site-footer__contact .address { font-size: 20px; font-weight: 800; display: block; color: #FFF; margin-top: 23px; line-height: 20px; }

.site-footer__social { margin: 20px 0 0; }

.site-footer__social .social-navigation { width: 100%; box-sizing: border-box; margin: 20px 0 0; }

.site-footer__social .social-navigation ul { width: 100%; display: flex !important; flex-flow: row wrap; justify-content: space-between; align-items: center; }

.site-footer__bottom { border-top: 1px solid rgba(255, 255, 255, 0.6); padding: 50px 0 20px; }

.site-footer__info { max-width: 425px; margin: 0 auto; }

.site-footer__info p { font-family: "Open Sans", sans-serif; font-weight: 700; font-size: 14px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }

.silver img { max-width: 50px; display: inline-block; vertical-align: middle; }

/*###################################
## Sidebar Blog
###################################*/
.sidebar { max-width: 336px; margin: 0 0 0 auto; }

.sidebar h5 { border-top: 1px dashed #9797A6; padding: 10px 0; }

.sidebar h5:last-of-type { border-bottom: 1px dashed #9797A6; }

.sidebar .widget_search { box-sizing: border-box; background: #6A7A64; margin-bottom: 25px; padding: 20px; width: 100%; }

.sidebar .widget:last-of-type { margin-bottom: 0; }

/*###################################
## Inner Pages
###################################*/
.inner .site-header__logo img { position: relative; }

.inner .site-banner { display: none; }

.inner .site-main { padding: 30px 0 30px; min-height: 500px; }

.inner .site-main h1 { text-align: center; }

/*###################################
## Reviews Page
###################################*/
.wpcr3_div_2 { width: 100%; }

.wpcr3_respond_2 input[type="text"], .wpcr3_respond_2 input[type="email"], .wpcr3_respond_2 input[type="tel"], .wpcr3_respond_2 input[type="url"] { margin: 10px 0; width: 100%; height: 40px; box-sizing: border-box; border-radius: 5px; border: 1px solid #A0A0A0; padding: 10px; font-family: "Montserrat", sans-serif; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #000000; }

.wpcr3_respond_2 input[type="text"]::placeholder, .wpcr3_respond_2 input[type="email"]::placeholder, .wpcr3_respond_2 input[type="tel"]::placeholder, .wpcr3_respond_2 input[type="url"]::placeholder { font-family: "Montserrat", sans-serif; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #A0A0A0; }

.wpcr3_respond_2 textarea { margin: 10px 0; width: 100%; min-width: 0; height: 100px; resize: none; box-sizing: border-box; border-radius: 5px; border: 1px solid #A0A0A0; padding: 10px; font-family: "Montserrat", sans-serif; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #000000; }

.wpcr3_respond_2 textarea::placeholder { font-family: "Montserrat", sans-serif; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #A0A0A0; }

.wpcr3_table_2 td { display: block; }

/*###################################
## Blog Page
###################################*/
.blog h1, .blog h2 { text-align: center; }

.blog article { position: relative; margin: 0 0 40px; box-sizing: border-box; padding: 20px 10px; border: 5px solid #00A045; border-radius: 5px; box-shadow: 0 2px 15px #555555; }

.blog article .entry-header { max-width: 1120px; margin: 0 auto; }

.blog article .entry-content { max-width: 1120px; margin: 0 auto; }

.blog article .entry-content p { margin: 1em auto; }

.single h1, .single h2 { font-size: 40px; text-align: center; }

.single article { position: relative; margin: 0 0 40px; box-sizing: border-box; padding: 20px 10px; border: 5px solid #00A045; border-radius: 5px; box-shadow: 0 2px 15px #555555; }

.single article .entry-meta, .single article .entry-footer { display: none; }

.single article .entry-header { max-width: 1120px; margin: 0 auto; }

.single article .entry-content { max-width: 1120px; margin: 0 auto; }

.comments-area { position: relative; margin: 0 0 40px; box-sizing: border-box; padding: 20px 10px; border: 5px solid #00A045; border-radius: 5px; box-shadow: 0 2px 15px #555555; }

.comments-area h1, .comments-area h2 { font-size: 40px; text-align: center; }

.comments-area .comment-body { margin: 0 0 40px; padding: 0; border: 0; border-radius: 0; box-shadow: unset; }

.comments-area .discussion-meta, .comments-area .comment-list { max-width: 1120px; margin: 0 auto; }

.comments-area .comment-reply a { position: relative; font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 20px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #FFFFFF; max-width: 200px; width: 100%; padding: 20px 10px; z-index: 1; box-sizing: border-box; text-align: center; display: inline-block; border: 0; border: 1px solid transparent; background: #00A045; transition: all 0.5s ease; }

.comments-area .comment-reply a:hover { border: 1px solid #00A045; text-shadow: 0px 2px 3px #000; color: #ddd; background-color: #18469D; }

.comments-area .comment-reply-title a { position: relative; font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 20px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #FFFFFF; max-width: 200px; width: 100%; padding: 20px 10px; z-index: 1; box-sizing: border-box; text-align: center; display: inline-block; border: 0; border: 1px solid transparent; background: #18469D; transition: all 0.5s ease; }

.comments-area .comment-reply-title a:hover { border: 1px solid #18469D; text-shadow: 0px 2px 3px #000; color: #ddd; background-color: #00A045; }

.comments-area .comment-form, .comments-area .comment-form-flex { max-width: 800px; margin: 0 auto; }

.comments-area .comment-notes { text-align: center; }

.comments-area .comment-form-comment label, .comments-area .comment-form-author label, .comments-area .comment-form-email label, .comments-area .comment-form-url label { display: block; text-align: left; }

.comments-area .comment-form-comment input, .comments-area .comment-form-author input, .comments-area .comment-form-email input, .comments-area .comment-form-url input { width: 100%; height: 30px; border: 1px solid #A0A0A0; border-radius: 5px; }

.comments-area .comment-form-comment textarea, .comments-area .comment-form-author textarea, .comments-area .comment-form-email textarea, .comments-area .comment-form-url textarea { width: 100%; height: 105px; border: 1px solid #A0A0A0; border-radius: 5px; }

.comments-area .form-submit { width: 100%; text-align: center; }

.comments-area .form-submit a, .comments-area .form-submit input { position: relative; font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 20px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #FFFFFF; max-width: 200px; width: 100%; padding: 20px 10px; z-index: 1; box-sizing: border-box; text-align: center; display: inline-block; border: 0; border: 1px solid transparent; background: #00A045; transition: all 0.5s ease; }

.comments-area .form-submit a:hover, .comments-area .form-submit input:hover { border: 1px solid #00A045; text-shadow: 0px 2px 3px #000; color: #ddd; background-color: #18469D; }

/*###################################
## Search Page
###################################*/
.page-description { text-align: center; margin-bottom: 40px; font-weight: 700; font-size: 25px; display: block; }

.page-description::after { content: ' "'; }

.page-description::before { content: '" '; }

.search article { transition: all .5s linear; position: relative; margin: 0 0 40px !important; box-sizing: border-box; padding: 20px 10px; border: 5px solid #00A045; border-radius: 5px; box-shadow: 0 2px 15px #555555; }

.search article:hover { box-shadow: 0px 0px 20px #000; }

.search article:last-of-type { margin-bottom: 0; }

.search article h2 { margin: 0 0 20px; font-size: 35px; }

.search-con { padding-right: 5%; flex-basis: 65%; }

/*###################################
## Error Page
###################################*/
.error-404 { text-align: center; }

/*###################################
## Responsive
###################################*/
@media screen and (max-width: 1024px) { body { min-width: 320px; }
  .sidebar .order-1, .site-main .order-1 { order: 1; max-width: 100%; }
  .order-2 { order: 2; }
  .container { flex-wrap: wrap; }
  .site-banner .site-social { top: 50%; bottom: auto; transform: translateY(-50%); }
  .site-header__logo { text-align: center; }
  .site-header__logo img { position: relative; max-width: 300px; width: 80%; height: auto; margin: 20px auto; }
  .main-navigation ul { justify-content: center; padding: 0; }
  .site-header__phone { justify-content: center; }
  .site-footer__top .container-1 { justify-content: space-between; }
  .site-footer__contact { justify-content: space-between; }
  .site-footer__social { max-width: 265px; }
  .welcome__header .line-wide { margin: 40px 0; width: 100%; }
  .services__right::after { bottom: 0; }
  .selling__right { width: 100% !important; flex-basis: 100% !important; }
  .gallery__left { padding: 0 !important; }
  .gallery__left .social-navigation ul { justify-content: space-around; text-align: center; }
  .gallery__left .social-navigation ul li { padding: 0 15px; }
  .gallery__right::after { bottom: 0; } }

@media screen and (max-width: 800px) { .site-banner .site-social { position: relative; top: 0; transform: translateY(0); padding: 20px 15px; box-sizing: border-box; background: #00A045; }
  h1, h2 { font-size: 40px; }
  .site-banner h3 { font-size: 30px !important; }
  .cta { background: #00A045 url("assets/images/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #18469D; border-top-left-radius: 40px; text-decoration: none; text-indent: -9999em; position: fixed; display: block; bottom: 13%; height: 80px; width: 100px; z-index: 999; right: 0; }
  #wprmenu_bar { box-shadow: 0px 0px 2px #000; }
  #wprmenu_bar .menu_title a { color: #FFF; top: 0; }
  html body div.wprm-overlay { background: transparent; }
  .logged-in #wprmenu_menu_ul { top: 47px !important; }
  .wpcf7-form .ctc-hide { display: none; }
  .wpcf7-form .form-top { display: flex !important; flex-flow: row wrap; justify-content: space-between; align-items: stretch; }
  .wpcf7-form .form-top label { width: 100%; } }

@media screen and (max-width: 480px) { .blocks-gallery-grid .blocks-gallery-image, .blocks-gallery-grid .blocks-gallery-item, .wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item { width: 100%; } }
