/*-----------------------------------------------------------------------------------
Welcome------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/
.welcome{
    &__header{
        padding: percent(1920px, 125px) 0 0 percent(1920px, 165px)!important;
        h5{
            margin: 0 0 30px;
        }
        .line-wide{
            margin: 52.5px 0 52.5px -120px;
            width: 123%;
        }
    }
    &__middle{
        margin: percent(1920px, 180px) 0 percent(1920px, 180px) !important;
        p{
            max-width: 412px;
            margin: 1em auto;
        }
    }
}
/*-----------------------------------------------------------------------------------
Why----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------*/
.why{
    padding: 90px 15px!important;
    h5{
        margin: 0 0 10px;
    }
    p{
        max-width: 910px;
        margin: 30px auto;
    }
}
.services{
    &__left{
        figcaption {
            padding: 50px 10px 50px 30px!important;
            box-sizing: border-box;
            font-family: $font1;
            color: #FFF!important;
            font-size: 20px!important;
            font-weight: 800!important;
            text-align: left!important;
        }
        .blocks-gallery-item img{
            height: 329px!important;
        }
    }
    &__right{
        position: relative;
        padding: percent(1920px, 140px) percent(1920px, 160px) percent(1920px, 80px) percent(1920px, 105px) !important;
        h5{
            margin: 0 0 20px;
        }
        p{
            margin: 40px auto;
        }
        &::after {
            content: "";
            border: 1px solid #D6D6D6;
            position: absolute;
            bottom: 80px;
            right: 0;
            width: 82%;
        }

    }
}
.selling{
    &__left{
        padding: percent(1920px, 125px) percent(1920px, 90px) percent(1920px, 105px) percent(1920px, 165px)!important;
        .wp-block-separator.is-style-wide{
            margin: 40px auto;
        }
        .phone{
            font-size: 30px;
            font-weight: 800;
            line-height: 1.1;
            color: #002633;
        }
    }
}
.gallery{
    &__left{
        padding: 0 0 0 percent(1920px,165px)!important;
        .blocks-gallery-item{
            margin: 2px!important;
            img{
                height: 374px!important;
            }
        }
        .social-navigation ul {
            
            li a {
                margin: 40px 0;
                background: #002633;

                &::before {
                    left: -1px;
                    color: #FFFFFF;
                }

                &:hover {
                    background: $secondary-color;
                }
            }
        }
    }
    &__right{
        position: relative;
        padding: percent(1920px, 140px) percent(1920px, 160px) percent(1920px, 160px) percent(1920px, 105px) !important;

        h5 {
            margin: 0 0 20px;
        }

        p {
            margin: 40px auto;
        }

        &::after {
            content: "";
            border: 1px solid #D6D6D6;
            position: absolute;
            bottom: percent(634px, 160px);
            right: 0;
            width: 82%;
        }
    }
}
.roofing{
    &__left{
        padding: 0!important;
        &--top{
            padding: percent(1920px, 165px) percent(1920px, 65px) 0 percent(1920px, 165px);
            box-sizing: border-box;
            ul{
                list-style: none;
                columns: 2;
                column-gap: 40px;
                li{
                    &::before{
                        content: "•";
                        color: #D61B2B;
                        position: relative;
                        left: -20px;
                    }
                }
            }
        }
        &--bottom{
            padding: 0 0 0 percent(1920px, 185px);
            justify-content: flex-start;
            box-sizing: border-box;
        }
        .wp-block-separator.is-style-wide{
            margin: 40px 0 20px;
            max-width: 1198px;
        }
    }
}
.badges{
    .blocks-gallery-grid,
    .wp-block-gallery{
        justify-content: space-around;
        width: 100%;
        li{
            max-width: 106px;
        }
    }
    padding: 50px 0;
    max-width: 1024px;
    margin: 0 auto;
}
.embedded{
    &__right{
        text-align: center;
        a{
            margin: 0 auto;
        }
        .gq-embed{
            width: 100% !important;
        }
    }
}