.blog{
    h1,
    h2 {
        text-align: center;
    }
    article{
        position: relative;
        margin: 0 0 40px;
        box-sizing: border-box;
        padding: 20px 10px;
        border: 5px solid $primary-color;
        border-radius: 5px;
        box-shadow: 0 2px 15px #555555;
        .entry-header{
            max-width: 1120px;
            margin: 0 auto;
        }
        .entry-content{
            max-width: 1120px;
            margin: 0 auto;
            p{
                margin: 1em auto;
            }
        }
    }
}