.inner{
    .site-header__logo img{
        position: relative;
    }
    .site-banner{
        display: none;
    }
    .site-main {
        padding: 30px 0 30px;
        min-height: 500px;

        h1 {
            text-align: center;
        }
    }
}