.wpcr3_div_2{
    width: 100%;
}
.wpcr3_respond_2{
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="url"] {
        margin: 10px 0;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #A0A0A0;
        padding: 10px;
        @include font($font1, 400, 16px, normal, normal, normal, #000000);

        &::placeholder {
            @include font($font1, 400, 16px, normal, normal, normal, #A0A0A0);
        }
    }

    textarea {
        margin: 10px 0;
        width: 100%;
        min-width: 0;
        height: 100px;
        resize: none;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #A0A0A0;
        padding: 10px;
        @include font($font1, 400, 16px, normal, normal, normal, #000000);

        &::placeholder {
            @include font($font1, 400, 16px, normal, normal, normal, #A0A0A0);
        }
    }
}
.wpcr3_table_2 td{
    display: block;
}