.page-description {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 25px;
    display: block;

    &::after {
        content: ' "';
    }

    &::before {
        content: '" ';
    }
}

.search article {
    transition: all .5s linear;
    position: relative;
    margin: 0 0 40px!important;
    box-sizing: border-box;
    padding: 20px 10px;
    border: 5px solid $primary-color;
    border-radius: 5px;
    box-shadow: 0 2px 15px #555555;

    &:hover {
        box-shadow: 0px 0px 20px #000;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    h2 {
        margin: 0 0 20px;
        font-size: 35px;
    }
}

.search-con {
    padding-right: 5%;
    flex-basis: 65%;
}