.single{
    h1,h2{
        font-size: 40px;
        text-align: center;
    }
    article {
        position: relative;
        margin: 0 0 40px;
        box-sizing: border-box;
        padding: 20px 10px;
        border: 5px solid $primary-color;
        border-radius: 5px;
        box-shadow: 0 2px 15px #555555;
        .entry-meta,.entry-footer{
            display: none;
        }
        .entry-header {
            max-width: 1120px;
            margin: 0 auto;
        }

        .entry-content {
            max-width: 1120px;
            margin: 0 auto;
        }
    }
}
.comments-area{
    h1,
    h2 {
        font-size: 40px;
        text-align: center;
    }
    position: relative;
    margin: 0 0 40px;
    box-sizing: border-box;
    padding: 20px 10px;
    border: 5px solid $primary-color;
    border-radius: 5px;
    box-shadow: 0 2px 15px #555555;
    .comment-body{
        margin: 0 0 40px;
        padding: 0;
        border: 0;
        border-radius: 0;
        box-shadow: unset;
    }
    .discussion-meta,
    .comment-list {
        max-width: 1120px;
        margin: 0 auto;
    }
    .comment-reply{
        a {
            position: relative;
            @include font($font1, 700, 20px, normal, normal, 120%, #FFFFFF);
            max-width: 200px;
            width: 100%;
            padding: 20px 10px;
            z-index: 1;
            box-sizing: border-box;
            text-align: center;
            display: inline-block;
            border: 0;
            border: 1px solid transparent;
            background: $primary-color;
            transition: all 0.5s ease;

            &:hover {
                border: 1px solid $primary-color;
                text-shadow: 0px 2px 3px #000;
                color: #ddd;
                background-color: $secondary-color;
            }
        }
    }
    .comment-reply-title {
        a{
            position: relative;
            @include font($font1, 700, 20px, normal, normal, 120%, #FFFFFF);
            max-width: 200px;
            width: 100%;
            padding: 20px 10px;
            z-index: 1;
            box-sizing: border-box;
            text-align: center;
            display: inline-block;
            border: 0;
            border: 1px solid transparent;
            background: $secondary-color;
            transition: all 0.5s ease;

            &:hover {
                border: 1px solid $secondary-color;
                text-shadow: 0px 2px 3px #000;
                color: #ddd;
                background-color: $primary-color;
            }
        }
         
    }
    .comment-form, .comment-form-flex {
        max-width: 800px;
        margin: 0 auto;
    }
    .comment-notes{
        text-align: center;
    }
    .comment-form-comment,
    .comment-form-author, 
    .comment-form-email,
    .comment-form-url{
        label{
            display: block;
            text-align: left;
        }
        input{
            width: 100%;
            height: 30px;
            border: 1px solid #A0A0A0;
            border-radius: 5px;
        }
        textarea{
            width: 100%;
            height: 105px;
            border: 1px solid #A0A0A0;
            border-radius: 5px;
        }
    }
    .form-submit{
        width: 100%;
        text-align: center;
        a,
        input {
            position: relative;
            @include font($font1, 700, 20px, normal, normal, 120%, #FFFFFF);
            max-width: 200px;
            width: 100%;
            padding: 20px 10px;
            z-index: 1;
            box-sizing: border-box;
            text-align: center;
            display: inline-block;
            border: 0;
            border: 1px solid transparent;
            background: $primary-color;
            transition: all 0.5s ease;
            &:hover {
                border: 1px solid $primary-color;
                text-shadow: 0px 2px 3px #000;
                color: #ddd;
                background-color: $secondary-color;
            }
        }
    }
}