@media screen and (max-width: 1024px) {
    body {
        min-width: 320px;
    }
    .sidebar,
    .site-main {
    .order-1{
        order: 1;
         max-width: 100%;
        }
    }
    .order-2{
        order: 2;
    }
    .container{
        flex-wrap: wrap;
    }
    .site-banner .site-social{
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }
    .site-header__logo{
        text-align: center;
        img{
            position: relative;
            max-width: 300px;
            width: 80%;
            height: auto;
            margin: 20px auto;
        }
    }  
    .main-navigation ul{
        justify-content: center;
        padding: 0;
    }
    .site-header__phone{
        justify-content: center;
    }
    .site-footer__top .container-1{
        justify-content: space-between;
    }
    .site-footer__contact{
        justify-content: space-between;
    }
    .site-footer__social{
        max-width: 265px;
    }
    .welcome__header .line-wide{
        margin: 40px 0;
        width: 100%;
    }
    .services__right::after{
        bottom: 0;
    }
    .selling__right{
        width: 100%!important;
        flex-basis: 100%!important;
    }
    .gallery__left{
        padding: 0!important;
    }
    .gallery__left .social-navigation ul{
        justify-content: space-around;
        text-align: center;
    }
    .gallery__left .social-navigation ul li{
        padding: 0 15px;
    }
    .gallery__right::after{
        bottom: 0;
    }
}

@media screen and (max-width: 800px) {
    .site-banner .site-social{
        position: relative;
        top: 0;
        transform: translateY(0);
        padding: 20px 15px;
        box-sizing: border-box;
        background: $primary-color;
    }
    h1,h2{
        font-size: 40px;
    }
    .site-banner h3{
        font-size: 30px!important;
    }
    .cta {
        background: $primary-color url("assets/images/phonecall.png") no-repeat center center;
        border-bottom-left-radius: 40px;
        border-top: 2px solid $secondary-color;
        border-top-left-radius: 40px;
        text-decoration: none;
        text-indent: -9999em;
        position: fixed;
        display: block;
        bottom: 13%;
        height: 80px;
        width: 100px;
        z-index: 999;
        right: 0;
    }

    #wprmenu_bar {
        box-shadow: 0px 0px 2px #000;

        .menu_title a {
            color: #FFF;
            top: 0;
        }
    }

    html body div.wprm-overlay {
        background: transparent;
    }

    .logged-in #wprmenu_menu_ul {
        top: 47px !important;
    }

    .wpcf7-form {
        .ctc-hide {
            display: none;
        }

        .form-top {
            @include flex(row, wrap, space-between, stretch);

            label {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 480px){
    .blocks-gallery-grid .blocks-gallery-image,
    .blocks-gallery-grid .blocks-gallery-item,
    .wp-block-gallery .blocks-gallery-image,
    .wp-block-gallery .blocks-gallery-item{
        width: 100%;
    }
}