@mixin width($row-width, $range) {
    width: ($range/$row-width)*100%;
}

@mixin flex-basis($row-width, $range) {
    flex-basis: ($range/$row-width)*100%;
}

@mixin flex($direction, $wrap, $justify, $align) {
    display: flex!important;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin font($family, $weight, $size, $style, $letter-spacing, $line-height, $color) {
    font: {
        family: $family;
        weight: $weight;
        size: $size;
        style: $style;
    }
    letter-spacing: $letter-spacing;
    line-height: $line-height;
    color: $color;
}