.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    word-wrap: normal !important;
    overflow: hidden;
    height: 1px;
    margin: -1px;
    padding: 0;
    width: 1px;
    border: 0;
}
.wp-block-columns{
    margin-bottom: 0!important;
    flex-wrap: wrap;
}
.no-padding{
    padding: 0!important;
}
.wp-block-column,
.blocks-gallery-item {
    margin: 0 !important;
}

.no-margin-image{
    figure{
        margin: 0;
    }
}
.stretch{
    align-items: stretch;
}
.center{
    align-items: center;
}
.full-image{
    figure{
        height: 100%;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.has-1-columns .wp-block-column {
    flex-basis: 100%;
}

.container {
    width: 100%;
   @include flex(row,wrap,space-around,flex-start)
}

.row {
    max-width: $row-width;
    margin: 0 auto;
}

.cta {
    display: none;
}

.grecaptcha-badge {
    z-index: 999999;
}